<!DOCTYPE html>
<html lang="en"
      onmousemove="showAndStorePosition(event)"
      onmouseleave="sendData()">
<head>
    <meta name="robots" content="noindex">
    <meta charset="UTF-8">
    <title>TorDeanon</title>
    <link href="../static/styles.css" rel="stylesheet">
</head>
<body>
<div class="displayed_data">
    <p id="user_ID"></p>
    <p id="coordinates"></p>
    <p id="key_pressed"></p>

    <button class="display_correlated_users" type="button">
        Show usersID correlated to me.
    </button>
</div>


<script>
    // User ID
    function getStoredUserID() {
        return sessionStorage.getItem("userID")
    }

    function storeUserID() {
        let ID = getStoredUserID();
        if (ID === null) {
            ID = JSON.parse("{{ userID }}");
        }
        sessionStorage.setItem("userID", ID);
    }

    function showUserID() {
        const userID = getStoredUserID();
        document.getElementById("key_pressed")
            .innerText = `User ID assigned: ${userID}`;
    }

    storeUserID();
    showUserID();

    // Keys pressed
    document.onkeydown = noteKey;

    function noteKey(e) {
        document.getElementById("key_pressed").innerText = ` ${e.code}`;
    }

    // Mouse movement
    function getStoredPositions() {
        return sessionStorage.getItem("mouse_txy")
    }

    function storePosition(time, x_pos, y_pos) {
        let data = getStoredPositions();
        if (data == null) {
            data = '';
        }
        data += `${time},${x_pos},${y_pos}:`;
        sessionStorage.setItem("mouse_txy", data);
    }

    function showPosition(t, x, y) {
        document.getElementById("coordinates")
            .innerText = `x,y = ${x}, ${y}\nt = ${t}`;
    }

    function getMouseExitTimes() {
        return sessionStorage.getItem("mouse_exit_t")
    }

    function storeMouseExitTime(t) {
        let data = getMouseExitTimes();
        if (data == null) {
            data = '';
        }
        data += `${t}:`;
        sessionStorage.setItem("mouse_exit_t", data);
    }

    function showAndStorePosition(e) {
        let x = e.clientX;
        let y = e.clientY;
        let t = Date.now();
        showPosition(t, x, y);
        storePosition(t, x, y);
        storeLastTXYTime(t);
    }

    function storeLastTXYTime(t) {
        sessionStorage.setItem("last_txy_time", t);
    }

    function getLastTXYTime() {
        return sessionStorage.getItem("last_txy_time");
    }


    async function sendData() {
        const last_t = getLastTXYTime();
        storeMouseExitTime(last_t);
        const t_xy_data = JSON.stringify({
            "mouse_txy": getStoredPositions(),
            "userID": getStoredUserID(),
            "mouse_exit_t": getMouseExitTimes(),
        });
        const options = {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: t_xy_data
        };
        await fetch("/store-txy", options);
    }
</script>
</body>
</html>