<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TorDeanon</title>
    <link href="../static/styles.css" rel="stylesheet">

</head>
<body>

<div class="trigger_plate"
     onmousemove="showAndStorePosition(event)"
     onmouseleave="sendData()">

    <p id="coordinates"></p>
    <p id="key_pressed"></p>

    <button type="button"> Random button (does nothing)</button>
</div>


<script>
    // Keys pressed
    document.onkeydown = noteKey;

    function noteKey(e) {
        document.getElementById("key_pressed").innerText = ` ${e.code}`;
    }

    // Mouse movement
    function getStoredPositions() {
        return sessionStorage.getItem("mouse_trajectory")
    }

    function storePosition(time, x_pos, y_pos) {
        let prev_data = getStoredPositions();
        if (prev_data == null) {
            prev_data = '';
        }
        let data = prev_data + `${time},${x_pos},${y_pos}:`;
        sessionStorage.setItem("mouse_trajectory", data);
    }

    function showPosition(t, x, y) {
        document.getElementById("coordinates")
            .innerText = `x,y = ${x},${y}\nt = ${t}`;
    }

    function showAndStorePosition(e) {
        let x = e.clientX;
        let y = e.clientY;
        let t = Date.now();
        showPosition(t, x, y);
        storePosition(t, x, y);
    }

    async function sendData() {
        const t_xy_data = JSON.stringify({"mouse_trajectory": getStoredPositions()});
        const options = {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: t_xy_data
        };
        await fetch("/store-txy", options);
    }
</script>
</body>
</html>