<!DOCTYPE html>
<html
        lang="en"
        onmousemove="showAndStorePosition(event)"
        onmouseleave="sendData()"
>
<head>
    <meta name="robots" content="noindex">
    <meta charset="UTF-8">
    <title>TorDeanon</title>
    <link href="../static/styles.css" rel="stylesheet">
</head>
<body>
<div class="displayed_data">
    <p id="user_ID"></p>
    <p id="coordinates"></p>
    <p id="key_pressed"></p>

<!--    <button class="display_correlated_users" type="button">-->
<!--        Show usersID correlated to me.-->
<!--        (Doesn't work yet, haven't added the code here)-->
<!--    </button>-->
</div>


<script>
    // User ID
    function getStoredUserID() {
        return sessionStorage.getItem("userID")
    }

    function storeUserID() {
        let ID = getStoredUserID();
        if (ID === null) {
            ID = JSON.parse("{{ userID }}");
        }
        sessionStorage.setItem("userID", ID);
    }

    function showUserID() {
        const userID = getStoredUserID();
        document.getElementById("user_ID")
            .innerText = `User ID assigned: ${userID}`;
    }

    storeUserID();
    showUserID();

    // Keys pressed
    document.onkeydown = noteKey;

    function noteKey(e) {
        document.getElementById("key_pressed").innerText = ` ${e.code}`;
    }

    // Mouse movement
    function getStoredPositions() {
        return sessionStorage.getItem("mouse_txy")
    }

    function storePosition(time, x_pos, y_pos) {
        let data = getStoredPositions();
        if (data == null) {
            data = '';
        }
        data += `${time},${x_pos},${y_pos}:`;
        sessionStorage.setItem("mouse_txy", data);
    }

    function showPosition(t, x, y) {
        document.getElementById("coordinates")
            .innerText = `x,y = ${x}, ${y}\nt = ${t}`;
    }

    function getMouseExitTXYIndices() {
        return sessionStorage.getItem("mouse_exit_txy_indices")
    }

    function storeMouseExitTXYIndices(i) {
        let data = getMouseExitTXYIndices();
        if (data == null) {
            data = '';
        }
        data += `${i}:`;
        sessionStorage.setItem("mouse_exit_txy_indices", data);
    }

    function totalPointsTXY() {
        return getStoredPositions().match(/:/g).length - 1
    }

    function showAndStorePosition(e) {
        const x = e.clientX;
        const y = e.clientY;
        const t = Date.now();
        showPosition(t, x, y);
        storePosition(t, x, y);
    }

    async function sendData() {
        const index = totalPointsTXY();
        storeMouseExitTXYIndices(index);
        const t_xy_data = JSON.stringify({
            "mouse_txy": getStoredPositions(),
            "userID": getStoredUserID(),
            "mouse_exit_txy_indices": getMouseExitTXYIndices(),
        });
        const options = {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: t_xy_data
        };
        await fetch("/store-txy", options);
    }
</script>
</body>
</html>